/* common */
* {
	box-sizing: border-box;
}
img {
	width: 100%;
}
.hover-link {
	transition: .3s ease;
	cursor: pointer;
	text-decoration: none;

	&:hover {
		opacity: .7;
	}
}
.blue-button, body .page .Cookie__button {
	background: linear-gradient(279.59deg, #701FFF 4.31%, #9C1FFF 127.62%);
	border-radius: 20px;
	color: #fff;
	font-weight: 500;
	font-size: 18px;
	line-height: 60px;
	text-align: center;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	padding: 0 16px;
	min-width: 195px;
	display: table;
	position: relative;
	z-index: 1;
	border: 0;
	font-family: 'Oswald';

	&:after {
		content: '';
		width: calc(100% - 18px);
		height: 54px;
		position: absolute;
		top: 17px;
		left: 9px;
		background: rgba(81, 1, 220, 0.3);
		filter: blur(12px);
		border-radius: 20px;
		z-index: -1;
		transition: .3s ease;
	}
	&:hover {
		opacity: 1;
		background: linear-gradient(279.59deg, #701FFF 4.31%, #9C1FFF 127.62%);

		&::after {
			opacity: 0;
		}
	}
	&:active {
		box-shadow: inset 8px 8px 11px rgba(48, 7, 106, 0.4);
		
		&::after {
			opacity: 0;
		}
	}
}
.blue-button-stroke {
	border-radius: 20px;
	text-align: center;
	padding: 0 16px;
	min-width: 195px;
	display: table;
	position: relative;
	z-index: 1;
	border: 0;
	transition: .3s ease;
	margin: 0 auto;

	.text {
		background: linear-gradient(279.59deg, #701FFF 4.31%, #9C1FFF 127.62%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		font-weight: 500;
		font-size: 18px;
		line-height: 60px;
		letter-spacing: 0.025em;
		font-family: 'Oswald';
		text-transform: uppercase;
		position: relative;
		z-index: 2;
	}
	&:after {
		content: '';
		width: 100%;
		height: 100%;
		position: absolute;
		top:0;
		left: 0;
		border-radius: 20px;
		z-index: 0;
		transition: .3s ease;
		background: linear-gradient(279.59deg, #701FFF 4.31%, #9C1FFF 127.62%);
	}
	&:before {
		content: '';
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		position: absolute;
		top: 1px;
		left: 1px;
		border-radius: 20px;
		z-index: 1;
		transition: .3s ease;
		background: #F9F4EB;
	}
	&:hover {
		opacity: 1;
		
		.text {
			background: transparent;
			text-fill-color: #F9F4EB;
			-webkit-text-fill-color: #F9F4EB;
		}
		&::before {
			opacity: 0;
		}
	}
	&:active {
		box-shadow: inset 8px 8px 11px rgba(48, 7, 106, 0.4);
		
		&::after {
			background: linear-gradient(273.9deg, #701FFF 3.16%, #9C1FFF 96.78%);
			box-shadow: inset 8px 8px 11px rgba(48, 7, 106, 0.4);
		}
	}
}
.inline-left, .inline-right {
	width: 50%;
	display: inline-block;
	text-align: left;
}
.inline-right {
	text-align: right;
}
.title {
	font-weight: 500;
	font-size: 64px;
	line-height: 117.8%;
	color: #321765;
}
.desc, body .page .Cookie__content {
	font-family: 'Arimo';
	font-weight: 400;
	font-size: 20px;
	line-height: 128.69%;
	color: #210B4B;
}
body .page .Cookie__content {
	font-size: 16px;

	a {
		background: linear-gradient(273.9deg, #701FFF 3.16%, #9C1FFF 96.78%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
	}
}
body .page .Cookie--base {
	background: #f9f4eb;
	border-top: 1px solid #F6DCA7;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.loader {
	background: #f9f4eb;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 999;
}
.mob {
	display: none;
}
body {
	min-height: 100vh;
    background: #F9F4EB;
	font-family: 'Oswald';
}
.page-wrapper {
	padding-top: 108px;
	overflow: hidden;
}

/* header */
.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 2;
}
.confetti {
	position: absolute;
	left: 0;
	top: 112px;
	width: 100%;
	z-index: 2;
}
.confetti.mob {
	display: none;
}
.purple-baloon {
	position: absolute;
	width: 162px;
	top: 177px;
	left: calc(50% - 210px);
	transform: translateX(-50%);
}
.yellow-baloon {
	position: absolute;
	width: 360px;
	top: 687px;
	left: calc(50% - 440px);
	transform: translateX(-50%);
}

.pale-baloon {
	position: absolute;
	width: 455px;
	top: 125px;
	left: calc(50% - 730px);
	transform: translateX(-50%);
	z-index: 1;
}
.pale-blob {
	position: absolute;
	width: 497px;
	top: 675px;
	left: calc(50% - 200px);
	transform: translateX(-50%);
	filter: blur(42px);
}
.logo {
	width: 77px;
}
.socials {
	flex: 1;
	white-space: nowrap;
	
	.item {
		display: inline-block;
		width: 50px;
		transition: .3s ease;

		&:hover {
			opacity: .7;
		}
	}
	.item + .item {
		margin-left: 7px;
	}
}
.header-wrapper {
	max-width: 1440px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	position: relative;

	.phone {
		font-weight: 400;
		font-size: 18px;
		line-height: 134.69%;
		letter-spacing: 0.025em;
		text-transform: uppercase;
		background: linear-gradient(273.9deg, #701FFF 3.16%, #9C1FFF 96.78%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		margin: 0 22px;
		white-space: nowrap;

	}
}
.header-wrapper .inline-left {
	padding-left: 60px;
	width: 150px;
	flex: 1;
	width: auto;
}
.header-wrapper .inline-right {
	padding-right: 60px;
	flex: 1;
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	width: auto;
}
.header-nav {
	width: calc(100% - 300px);
	flex: 2;
	position: relative;
    z-index: 1;
}
.header-nav-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 108px;

	
	a {
		font-weight: 400;
		font-size: 18px;
		line-height: 134.69%;
		letter-spacing: 0.025em;
		text-transform: uppercase;
		color: #321765;
		margin: 0 22px;

		&.router-link-active {
			background: linear-gradient(273.9deg, #701FFF 3.16%, #9C1FFF 96.78%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
	}
}
.header-langs {
	display: flex;
	justify-content: center;
	flex: 2;

	.header-langs__item {
		color: #321765;
		font-weight: 400;
		font-size: 18px;
		line-height: 134.69%;
		letter-spacing: 0.025em;
		text-transform: uppercase;
		position: relative;

		&.active {
			background: linear-gradient(273.9deg, #701FFF 3.16%, #9C1FFF 96.78%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
	}
	.header-langs__item + .header-langs__item {
		margin-left: 16px;

		&:after {
			content: '';
			width: 2px;
			height: 17px;
			position: absolute;
			left: -8px;
			top: 5px;
			background: #321765;
		}
	}
}

/* home page */
.home-page {
	padding-top: 292px;
	overflow: hidden;
	position: relative;
}
.section {
	max-width: 1440px;
	margin: 0 auto;
}
.characters-page .section-1::before {
	content: '';
	width: 267px;
	height: 353px;
	position: absolute;
	left: 144px;
	top: 0;
	background: url('../../src/assets/mainPage/Serpentine.svg');
}

.middle-img-container {
	max-width: 1440px;
	margin: 0 auto;
	position: relative;
}
.middle-img {
	position: absolute;
	top: -200px;
	left: 54%;
	transform: translateX(-50%);
	width: 32%;
	z-index: 3;
}
.home-page .section-1 {
	padding: 0 60px;
	position: relative;
	z-index: 1;

	.title {
		text-transform: uppercase;
	}
	&::before {
		content: '';
		width: 267px;
		height: 353px;
		position: absolute;
		left: 144px;
		top: -292px;
		background: url('../../src/assets/mainPage/Serpentine.svg');
	}

	.inline-left,
	.inline-right {
		vertical-align: top;
		position: relative;
	}
	.title span {
		background: linear-gradient(354.28deg, #DF5698 27.85%, #FF6A84 56.19%, #FF886F 81.36%, #FFAD60 97.46%, #FFD35E 116.33%, #F9F871 125.32%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		font-weight: 500;
		font-size: 96px;
		line-height: 105.3%;
	}
	.inline-right {
		.img {
			width: 182%;
			top: -290px;
			left: -140px;
			position: relative;
		}
		.pink-baloon {
			position: absolute;
			width: 34%;
			top: 49%;
			z-index: 2;
			right: -60px;
		}
	}
	
	.desc {
		margin-top: 40px;
	}
	.hover-link {
		margin-top: 55px;
	}
}
.section-2 {
	margin-top: -135px;
	padding-bottom: 140px;

	.list {
		display: flex;

		img {
			width: 198px;
		}
		.item {
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			flex: 1;
			padding: 0 45px;

			.desc {
				max-width: 320px;
				margin: 0 auto;
			}
			&:nth-child(2) .desc {
				max-width: 100%;
			}
		}
	}
}

.home-page .section-3 {
	position: relative;
	padding-bottom: 569px;
	
	.inline-left, .inline-right {
		vertical-align: top;
		text-align: left;
	}
	.pirate {
		width: 128%;
		transform: translateX(-23%);
	}
	.title {
		margin-top: 230px;
		background: linear-gradient(273.9deg, #701FFF 3.16%, #9C1FFF 96.78%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		font-weight: 500;
		font-size: 96px;
		line-height: 130px;
		margin-bottom: 35px;
		transform: translateX(-40px);
	}
	.desc {
		max-width: 560px;
		margin-left: 100px;
		transform: translateX(-40px);
		white-space: pre-wrap;
	}
	.desc + .desc {
		margin-top: 15px;
		margin-bottom: 179px;
	}
	.balloon-pink-pale {
		width: 515px;
		position: absolute;
		top: 25px;
		right: 20px;
	}
	.elsa {
		transform: translateX(-100px);
	}
	.orange-baloon {
		max-width: 300px;
		transform: translateX(-50%);
		position: absolute;
		left: calc(50% - 70px);
		top: 625px;
	}
	.confettiRibbon {
		width: 60%;
		position: relative;
		top: -60px;
		z-index: -1;
		left: 5%;
	}
	.garland {
		width: 75%;
		right: 240px;
		top: 68%;
		position: absolute;
		z-index: -1;
	}
	.baloonPurpleGradient {
		width: 34%;
		left: -125px;
		top: 69%;
		position: absolute;
	}
}

.section-4 {
	font-size: 0;
	padding: 0 80px 130px;

	.list {
		max-width: 1260px;
		margin: 0 auto;
	}
	.item {
		position: relative;
		width: calc((100% - 250px) / 2);
		margin: 0 calc(125px / 2);
		background: linear-gradient(180deg, #F4E5C7 0%, #FDF5E6 100%);
		border: 1px solid #F6DCA7;
		box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.08);
		border-radius: 20px;
		display: inline-block;
		vertical-align: top;
		height: 0;
		padding-top: calc((100% - 250px) / 2);
		margin-bottom: 8%;
		overflow: hidden;
		cursor: pointer;

		&:before {
			content: '';
			width: 90%;
			height: 50%;
			position: absolute;
			left: 5%;
			bottom: 5%;
			background: url('../../src/assets/mainPage/decor1.svg');
			background-position: center;
			background-repeat: no-repeat;
			background-size: contain;
		}
		&:first-child {
			left: -7.5%;
		}
		&:nth-child(2) {
			left: -7.5%;

			&:before {
				width: 53%;
				height: 96%;
				left: 5%;
				bottom: 0;
				background-image: url('../../src/assets/mainPage/decor2.svg');
			}
			.title {
				height: 100%;
				width: 60%;
			}
			.img-container {
				height: 100%;
				width: 40%;
				left: auto;
				right: 0;
				border-radius: 0 0 0 400px;
			}
		}
		&:nth-child(3) {
			left: 7.5%;

			&:before {
				width: 86%;
				height: 70%;
				left: 7%;
				top: 0;
				background-image: url('../../src/assets/mainPage/decor3.svg');
			}
			.title {
				top: 0;
				left: 0;
				height: 43%;
			}
			.img-container {
				bottom: 0;
				top: auto;
				border-radius: 150px 150px 0 0;
				padding-top: 57%;
			}
		}
		&:last-child {
			left: 7.5%;
			
			&:before {
				width: 96%;
				height: 65%;
				left: 2%;
				top: 0;
				background-image: url('../../src/assets/mainPage/decor4.svg');
			}
			.title {
				top: 0;
				left: 0;
				height: 43%;
			}
			.img-container {
				bottom: 0;
				top: auto;
				border-radius: 0;
				padding-top: 57%;
			}
		}
	}
	.title {
		color: #321765;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 39%;
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		font-size: 40px;
		flex-direction: column;
		text-align: center;
		text-transform: uppercase;

		.gradient {
			background: linear-gradient(354.28deg, #DF5698 27.85%, #FF6A84 56.19%, #FF886F 81.36%, #FFAD60 97.46%, #FFD35E 116.33%, #F9F871 125.32%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
	}
	.img-container {
		height: 0;
		padding-top: 61%;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		overflow: hidden;
		border-radius: 0 0 400px 400px;

		img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}
}

// Programs page
.price-page .section-wrapper {
	padding-top: 75px;
	position: relative;
}
.price-page .section-wrapper >.title {
	text-align: center;
	position: relative;
	z-index: 2;
	word-break: break-word;
	padding: 0 16px;
	height: 150px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.card-list {
	margin-top: 65px;
}
.card-list + .blue-button-stroke {
	margin-bottom: 100px;
}
.price-page .mob-baloons {
	display: none;
}
.price-page .confetti {
	top: 29px;
	width: calc(100% - 52px);
	left: 50%;
	transform: translateX(-50%);
	height: 280px;
}
.card-list {
	margin-top: 115px;
}
.card-list__item {
	width: calc(100% / 3 - 52px);
	margin: 0 26px 100px;
	display: inline-block;
	vertical-align: top;
	border-radius: 0px 0px 20px 20px;
	background: linear-gradient(180deg, #F4E5C7 0%, #FDF5E6 100%);
	box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.08);
	border-radius: 20px;
	padding-top: 390px;
	position: relative;
	text-decoration: none;
	
	.img {
		border-radius: 20px 20px 0px 0px;
		height: 70%;
		object-fit: cover;
		object-position: center;
		position: absolute;
		top: 0;
		left: 0;
		height: 390px;
	}
	.title {
		background: linear-gradient(354.28deg, #DF5698 27.85%, #FF6A84 56.19%, #FF886F 81.36%, #FFAD60 97.46%, #FFD35E 116.33%, #F9F871 125.32%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		font-weight: 500;
		font-size: 24px;
		line-height: 117.8%;
		text-transform: uppercase;
		height: 78px;
		justify-content: center;
		display: flex;
		align-items: center;
	}
	.desc {
		font-weight: 400;
		font-size: 17px;
		line-height: 133%;
		color: #210B4B;
		text-align: center;
		margin: 25px auto 0;
		max-width: 320px;
		height: 68px;
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 3; /* number of lines to show */
				line-clamp: 3; 
		-webkit-box-orient: vertical;
	}
	.price {
		margin-top: 25px;
		text-align: center;
		color: #321765;
		font-weight: 500;
		font-size: 24px;
		line-height: 117.8%;
		text-transform: uppercase;
	}
	.card-list-wrapper {
		padding: 25px 33px;
		border-radius: 0 0 20px 20px;
		border: 1px solid #F6DCA7;
	}
	.list {
		margin-top: 10px;
		text-align: center;
		min-height: 25px;

		img {
			width: 19px;
			display: inline-block;
			vertical-align: middle;
		}
		.item-title {
			letter-spacing: 0.025em;
			text-transform: uppercase;
			font-weight: 500;
			font-size: 18px;
			line-height: 134.69%;
			color: #210B4B;
			display: inline-block;
			vertical-align: middle;
			margin-left: 8px;
		}
		.item {
			display: inline-block;
			vertical-align: top;
			margin-right: 10px;

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

.price-page .section-2 {
	margin-top: 140px;
	text-align: center;
	max-width: 1360px;
}
.price-page .section-2 > .title {
	margin-bottom: -11%;
}
.price-page .section-1:before {
	display: none;
}
.price-page .section-wrapper {
	position: relative;
}
.price-page .section-1 .section-wrapper:before,
.reviews-page .section-1 .section-wrapper:before {
	content: "";
    width: 267px;
    height: 353px;
    position: absolute;
    left: 0;
    top: 0;
    background: url('../../src/assets/mainPage/Serpentine.svg');
	background-size: contain;
}
.price-page .decor-2 {
	position: absolute;
	top: -45px;
	width: calc(100% - 52px);
	left: 50%;
	transform: translateX(-50%);
	height: 330px;
}
.price-page .section-3 {
	padding-bottom: 130px;
}
.card-list__item .title {
	background: linear-gradient(354.28deg, #DF5698 27.85%, #FF6A84 56.19%, #FF886F 81.36%, #FFAD60 97.46%, #FFD35E 116.33%, #F9F871 125.32%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	background-clip: text;
	text-fill-color: transparent;
	text-align: center;
    white-space: pre-wrap;
}
.character-list__item {
	width: calc(100% / 3 - 38px);
	margin: 0 19px 80px;
	display: inline-block;
	vertical-align: top;
}
.character-list__item .title {
	font-weight: 500;
	font-size: 24px;
	line-height: 117.8%;
	text-transform: uppercase;
}
.character-list__item img {
	width: 100%;
	height: 524px;
	object-fit: contain;
	object-position: center;
}
.character-list + .blue-button-stroke {
	padding: 0 48px;
	margin-top: 55px;
}

// prrogram page 
.program-page .section-1 {
	padding: 100px 60px 100px;


	.desc {
		font-weight: 400;
		font-size: 17px;
		line-height: 133%;
		color: #210B4B;
		white-space: pre-wrap;
	}
	.title {
		font-family: 'Oswald';
		font-weight: 500;
		font-size: 40px;
		line-height: 117.8%;
		color: #321765;
		text-transform: uppercase;
	}
	.down {
		margin-top: 100px;

		.inline-right {

			.title {
				position: relative;
				display: table;
			}
			.cap {
				width: 100px;
				position: absolute;
				right: -40px;
				top: -120px;
			}
			.desc {
				margin-top: 35px;
			}
		}
		.inline-left {
			position: relative;

			.baloon-small {
				width: 150px;
				position: absolute;
				right: -40px;
				top: -80px;
			}
		}
	}
	.up {
		.decor1 {
			width: 90%;
			position: absolute;
			left: 7%;
			top: -25%;
		}
		.baloon {
			width: 85%;
			position: absolute;
			left: 25%;
			top: 38%;
		}
		.inline-right {
			position: relative;
		}
	}
	.inline-left {
		vertical-align: top;
		padding-right: 2%;

		.program-includes {
			
			.title {
				margin-bottom: 35px;
			}
			.title + .desc {
				margin-bottom: 20px;
			}
			.item {
				font-size: 0;

				img {
					width: 19px;
					vertical-align: top;
					margin-top: 3px;
				}
				.desc {
					display: inline-block;
					vertical-align: top;
					margin-left: 16px;
					max-width: calc(100% - 35px);
				}
			}
			.item + .item {
				margin-top: 10px;
			}
		}
		.notice {
			margin-top: 50px;
			font-family: 'Oswald';
			font-weight: 500;
			font-size: 18px;
			line-height: 134.69%;
			letter-spacing: 0.025em;
			text-transform: uppercase;
			color: #321765;
			max-width: 520px;
		}
	}
	.top-mob {
		display: none;
	}
	.top {
			
		.title {
			background: linear-gradient(273.9deg, #701FFF 3.16%, #9C1FFF 96.78%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
		.conditions {
			margin: 43px 0 33px;

			.item {
				display: inline-block;
				vertical-align: top;
				margin-right: 15px;
				margin-bottom: 10px;

				img {
					width: auto;
					height: 50px;
					vertical-align: middle;
					margin-right: 15px;
				}
				.item-desc {
					display: inline-block;
					vertical-align: middle;
					font-family: 'Oswald';
					font-weight: 500;
					font-size: 18px;
					line-height: 134.69%;
					letter-spacing: 0.025em;
					text-transform: uppercase;
					color: #321765;
				}
			}
		}
		
	}
	.cta-mob {
		display: none;
	}
	.cta {
		margin-top: 30px;

		.price {
			display: inline-block;
			vertical-align: middle;
			background: linear-gradient(354.28deg, #DF5698 27.85%, #FF6A84 56.19%, #FF886F 81.36%, #FFAD60 97.46%, #FFD35E 116.33%, #F9F871 125.32%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			font-family: 'Oswald';
			font-style: normal;
			font-weight: 500;
			font-size: 40px;
			line-height: 117.8%;
			margin-top: 30px;
			margin-right: 21%;
			text-transform: capitalize;
		}
		.blue-button {
			vertical-align: middle;
			display: inline-block;
			margin-top: 30px;
		}
	}
	.inline-right {
		vertical-align: top;
		text-align: left;
		padding-left: 10%;
	}
}


//gallery 
.section-gallery {
	padding: 0 60px 230px;
}
.gallery {
	max-width: 1096px;
	margin: 0 auto;

	.img {
		height: 100%;
		object-fit: cover;
		object-position: center;
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
	}
	.item {
		position: relative;
		padding-top: 85%;
		height: 0;
		cursor: pointer;
	}
	
	.slick-slide {
		margin: 0 10px;
	}
	.slick-arrow {
		left: -102px;
		cursor: pointer;
		width: 58px;
		height: 58px;
		position: absolute;
		border: 0;
		border-radius: 100px;
		background: linear-gradient(273.9deg, #701FFF 3.16%, #9C1FFF 96.78%);
		top: 50%;
		transform: translateY(-50%);
		font-size: 0;
		box-shadow: -8px 0px 36px rgba(93, 1, 220, 0.3);;
		
		&:active {
			background: linear-gradient(273.9deg, #701FFF 3.16%, #9C1FFF 96.78%);
			box-shadow: inset 3px 4px 6px rgba(48, 7, 106, 0.4);

			&::before {
				opacity: 0;
			}
		}

		&::before {
			content: '';
			position: absolute;
			top: 7px;
			right: 11px;
			width: 18px;
			height: 18px;
			background: #FFFFFF;
			filter: blur(10px);
		}
		&::after {
			content: '';
			position: absolute;
			top: 0;
			right: 0;
			width: 58px;
			height: 58px;
			background-image: url('../../src/assets/singleProgramPage/icon_arrow-right.svg');
			background-size: 36px;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
	.slick-next  {
		left: auto;
		right: -102px;
	}
	.slick-prev:after {
		transform: scaleX(-1);
	}
}
.middle-section-character {
	padding: 0 16px 230px;

	.character-list__item {
		text-align: center;
	}
	&>.title {
		margin-bottom: 80px;
		padding-left: 60px;
		font-weight: 500;
		font-size: 40px;
		line-height: 117.8%;
		text-transform: uppercase;
	}
}
.middle-section-addition {
	padding-bottom: 130px;
	padding: 0 34px 130px;

	&>.title {
		margin-bottom: 80px;
		padding-left: 24px;
		font-weight: 500;
		font-size: 40px;
		line-height: 117.8%;
		text-transform: uppercase;
	}
}



// footer

.footer {
	background: #44286A;

	.footer-wrapper {
		display: flex;
		padding: 40px;
		align-items: flex-start;
	}
	.logo-container {
		flex: 1;
	}
	.up-link {
		flex: 1;
		display: flex;
		justify-content: flex-end;
		

		.up-link-wrapper {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			width: 58px;
			cursor: pointer;
		}
		img {
			width: 36px;
		}
		.desc {
			font-family: 'Arimo';
			font-weight: 400;
			font-size: 17px;
			line-height: 133%;
			color: #FFFFFF;
		}
	}
	.footer-nav {
		flex: 4;
		display: flex;

		.column {
			flex: 1;
			display: flex;
			flex-direction: column;
		}
		.row {
			flex: 2;
			display: flex;
		}
	}
	.hover-link {
		font-family: 'Arimo';
		font-weight: 400;
		font-size: 17px;
		line-height: 133%;
		color: #FFFFFF;
	}
	.hover-link + .hover-link  {
		margin-top: 15px;
	}
	.socials {
		margin-top: 15px;
	}
}

.menu {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100vh;
	max-width: 436px;
	z-index: 10;
	background: linear-gradient(180deg, #F4E5C7 0%, #FDF5E6 100%);
	box-shadow: -8px 0px 36px rgba(0, 0, 0, 0.12);

	.hover-link {
		color: #321765;

		&.router-link-active {
			background: linear-gradient(273.9deg, #701FFF 3.16%, #9C1FFF 96.78%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
		}
	}
	.menu-nav .hover-link:first-child {
		background: linear-gradient(273.9deg, #701FFF 3.16%, #9C1FFF 96.78%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
	}
}
.modal {
	opacity: 0;
	visibility: hidden;
	transition: .3s ease;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	z-index: -1;

	.overlay {
		background: rgba(0, 0, 0, 0.8);
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
	}
	.modal-wrapper {
		max-width: 478px;
		background: linear-gradient(180deg, #F4E5C7 0%, #FDF5E6 100%);
		border: 1px solid #F6DCA7;
		box-shadow: 0px 7px 30px rgba(0, 0, 0, 0.08);
		border-radius: 20px;
		position: relative;
		z-index: 1;
		padding: 70px 16px;
		text-align: center;
		width: 100%;
		min-height: 610px;
		
		&:before {
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			left: 0;
			top: 0;
			background-image: url('../../src/assets/singleProgramPage/form-decor.svg');
			background-position: bottom center;
			background-repeat: no-repeat;
			background-size: contain;
		}
		.close {
			width: 36px;
			top: 29px;
			right: 26px;
			position: absolute;
			cursor: pointer;
			z-index: 1;
		}
		.title {
			background: linear-gradient(273.9deg, #701FFF 3.16%, #9C1FFF 96.78%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			font-weight: 500;
			font-size: 24px;
			line-height: 117.8%;
			margin-bottom: 30px;
		}
		label {
			display: block;
			position: relative;

			.input {
				font-weight: 400;
				font-size: 17px;
				line-height: 60px;
				color: #210B4B;
				background: transparent;
				border: 0;
				width: 100%;
				height: 100%;
				outline: 0;
				border: 1px solid #5D01DC;
    			border-radius: 20px;
				height: 60px;
				padding: 0 27px;
			}
			&.error .input {
				border-color: #FF5252;
			}
		}
		.error .error-text {
			display: block;
		}
		label + label {
			margin-top: 13px;
		}
		label.error + label {
			margin-top: 33px;
		}
		.error-text {
			font-family: 'Arimo';
			font-weight: 400;
			font-size: 14px;
			line-height: 128.69%;
			color: #FF5252;
			text-align: left;
			position: absolute;
			left: 0;
			top: calc(100% + 7px);
			display: none;
		}
		label.error + textarea {
			margin-top: 33px;
		}
		textarea {
			margin-top: 13px;
			border: 1px solid #5D01DC;
			border-radius: 20px;
			resize: none;
			height: 126px;
			font-family: 'Arimo';
			font-style: normal;
			font-weight: 400;
			font-size: 17px;
			line-height: 133%;
			color: #210B4B;
			padding: 19px 27px;
			background: transparent;
			outline: 0;
			width: 100%;
			position: relative;

			&::placeholder {
				color: #A397AB;
			}
		}
		.placeholder {
			color: #A397AB;
			font-weight: 400;
			font-size: 17px;
			line-height: 133%;
			font-family: 'Arimo';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			padding-left: 27px;

			&:after {
				content: '';
				position: absolute;
				top: 0;
				right: -8px;
				width: 8px;
				height: 8px;
				background: url('../../src/assets/singleProgramPage/star.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
			}
		}
		.form {
			opacity: 1;
			visibility: visible;
			max-width: 320px;
			margin: 0 auto;
			transition: .3s ease;
			.error + .blue-button {
				margin-top: 40px;
			}
			.blue-button {
				margin: 30px auto 0;
			}
			&.disabled {
				opacity: 0;
				visibility: hidden;
			}
		}
		.checkbox {
			margin-top: 13px;
			position: relative;
			font-size: 0;
			cursor: pointer;
		}
		.checkbox-input {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 0;
			top: 0;
		}
		.checkbox-mark {
			border: 1px solid #5D01DC;
			border-radius: 3px;
			width: 28px;
			height: 28px;
			display: inline-block;
			vertical-align: middle;
			position: relative;

			&:before {
				content: '';
				width: 20px;
				height: 20px;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				background: url('../../src/assets/singleProgramPage/icon-check.svg');
				background-position: center;
				background-repeat: no-repeat;
				background-size: contain;
				opacity: 0;
				transition: .3s ease;
			}
		}
		.error .checkbox-mark {
			border-color: #FF5252;
		}
		.checkbox:hover .checkbox-mark:before {
			opacity: .3;
		}
		.checkbox-input:checked + .checkbox-mark:before {
			opacity: 1;
		}
		.checkbox-text {
			text-align: left;
			display: inline-block;
			vertical-align: middle;
			width: calc(100% - 45px);
			font-family: 'Arimo';
			font-weight: 400;
			font-size: 14px;
			line-height: 128.69%;
			color: #210B4B;
			margin-left: 17px;
		}
		.thank-you {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			padding: 50px;
			transition: .3s ease;

			&.active {
				opacity: 1;
				visibility: visible;
			}
			.img {
				width: 145px;
			}
			.blue-button {
				margin: 80px auto 0;
			}
			.title {
				margin: 50px auto;
				font-size: 40px;
				line-height: 117.8%;
			}
		}
	}

}
.form-modal.active {
	opacity: 1;
	visibility: visible;
	z-index: 100;
}
.gallery-modal {
	max-width: 100%;
	flex-direction: column;

	.slick-arrow {
		left: 60px;
	}
	.slick-next {
		left: auto;
		right: 60px;
	}
}
.gallery-modal.active {
	opacity: 1;
	visibility: visible;
	z-index: 100;
}
.gallery-modal .gallery-modal-wrapper {
	margin: 0 auto;
	z-index: 1;
	position: relative;
	height: calc(100% - 190px);
	width: calc(100% - 490px);

	.img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%,-50%);
		width: calc(100% - 490px);
		width: 100%;
		height: 100%;
		object-fit: contain;
		object-position: center;
	}
}

.program-page .section-1 .inline-left .program-includes .scenario {
	margin-bottom: 37px;
	width:  calc(50% - 16px);
    display: inline-block;
    vertical-align: top;
	margin-right: 16px;

	.title {
		background: linear-gradient(273.9deg, #701FFF 3.16%, #9C1FFF 96.78%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		background-clip: text;
		text-fill-color: transparent;
		font-weight: 500;
		font-size: 18px;
		line-height: 134.69%;
		letter-spacing: 0.025em;
		text-transform: uppercase;
		margin-bottom: 25px;
	}
	.item + .item {
		margin-top: 5px;
	}
}

// chaacters page
.characters-page .section-1 {
	max-width: 100%;
}
.characters-page {
	padding-top: 0;
	padding-bottom: 100px;

	.hero-img {
		z-index: 1;
		position: relative;
	}
	.hero-img-mob {
		display: none;
	}
	.confetti {
		z-index: -1;
	}
	.section-character {
		max-width: 1360px;

		&> .title {
			margin-bottom: -18%;
			position: relative;
			text-align: center;
		}
		.mob-baloons {
			display: none;
		}
		.character-list {
			margin-top: -180px;
		}
		.character-list__item {
			text-align: center;
		}
		

	}

}

.reviews-page {

	.section-1 {
		position: relative;
		padding: 115px 60px 220px;
		text-align: center;
		max-width: 1065px;

		.section-wrapper>.title {
			text-transform: uppercase;
			position: relative;
			z-index: 3;
			display: table;
			margin: 0 auto;

			.cap {
				width: 100px;
				left: -50px;
				top: -90px;
				position: absolute;
			}
			.baloons3 {
				width: 320px;
				right: -330px;
				top: -90px;
				position: absolute;
				z-index: -1;
			}
		}
		.confetti {
			top: 28px;
		}
		.avatar {
			overflow: hidden;
			border-radius: 100px;
		}
		.text {
			text-align: left;
			padding-left: 117px;

			.name {
				font-family: 'Oswald';
				font-weight: 500;
				font-size: 24px;
				line-height: 117.8%;
				color: #321765;
				text-transform: uppercase;
			}
			.date {
				font-family: 'Arimo';
				font-weight: 400;
				font-size: 16px;
				line-height: 128.69%;
				color: rgba(33, 11, 75, 0.6);
				margin-top: 7px;
			}
			.desc {
				margin-top: 25px;
				font-family: 'Arimo';
				font-weight: 400;
				font-size: 17px;
				line-height: 133%;
				color: #210B4B;
				position: relative;
				
				&::before {
					content: '';
					width: 43px;
					height: 38px;
					background: url('../../src/assets/reviewsPage/quotes_open.svg');
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					position: absolute;
					left: -60px;
					top: 0;
				}
				&::after {
					content: '';
					width: 43px;
					height: 38px;
					background: url('../../src/assets/reviewsPage/quotes_close.svg');
					background-position: center;
					background-repeat: no-repeat;
					background-size: contain;
					position: absolute;
					right: -60px;
					top: 0;
				}
			}
		}
	}
	
	.list {
		margin-top: 115px;

		.item {

			.avatar {
				width: 144px;
				display: inline-block;
				vertical-align: top;
			}
			.text {
				width: calc(100% - 144px);
				display: inline-block;
				vertical-align: top;
			}
			.item-gallery {
				text-align: left;
				margin-top: 55px;

				.img-container {
					width: 225px;
					height: 225px;
					position: relative;
					display: inline-block;
					vertical-align: top;
					margin-right: 10px;
					margin-bottom: 10px;
					cursor: pointer;
				}
				.img {
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					object-fit: cover;
					object-position: center;
				}
			}
		}
		.item + .item {
			margin-top: 90px;
		}
	}
}



//partnership

.partnership-page {

	.section-1 {
		max-width: 1185px;
		padding-bottom: 0;

		.section-wrapper > .title {
			position: relative;

			.baloon {
				position: absolute;
				left: -130px;
				top: -180px;
				width: 500px;
			}
		}
		.section-wrapper >.title.small {
			margin-top: 100px;
			font-weight: 500;
			font-size: 40px;
			line-height: 117.8%;
		}
		.desc {
			margin: 40px auto 0;
			font-weight: 400;
			font-size: 20px;
			line-height: 128.69%;
			white-space: pre-wrap;
			max-width: 790px;
		}
		.icon {
			width: 198px;
			margin-top: 23px;
		}
	}
	.partnership-section-2 {
		padding-bottom: 100px;

		.inline-left {
			vertical-align: middle;
			padding-right: 4%;
		}
		.inline-right {
			text-align: left;
			vertical-align: middle;

			.title {
				font-weight: 500;
				font-size: 40px;
				line-height: 117.8%;
				text-transform: uppercase;
			}
			.list {
				margin-top: 50px;
				padding-left: 16px;

				.item {
					font-family: 'Arimo';
					font-weight: 400;
					font-size: 20px;
					line-height: 144.19%;
					color: #210B4B;
					list-style: disc;
					
				}
			}
		}
		.list .item + .item {
			margin-top: 10px;
		}
	}
	.partnership-last-section {
		padding: 0 60px 230px;

		.inline-left {
			position: relative;
			vertical-align: middle;
			padding-right: 4%;

			.img {
				position: absolute;
				right: -50px;
				top: -180px;
				width: 500px;
			}
			.title {
				text-transform: uppercase;
				font-weight: 500;
				font-size: 40px;
				line-height: 117.8%;
				margin-bottom: 50px;
			}
			.desc {
				display: table;
				position: relative;
				z-index: 1;
			}
			.desc + .desc {
				margin-top: 15px;
			}
		}
		.inline-right {
			vertical-align: middle;
			padding-left: 4%;
		}
	}
}

// page not found 
.page-not-found {
	
	.section {
		max-width: 850px;
		padding: 0 24px 100px;
		text-align: center;
	}
	.img-404 {
		max-width: 620px;
	}
	.buttons {
		margin-top: 50px;
		display: flex;
		justify-content: center;
	}
	.title {
		margin-top: 40px;
	}
	.title.small {
		margin-top: 20px;
		font-size: 24px;
		line-height: 117.8%;
		text-transform: uppercase;
	}
	.desc {
		font-size: 18px;
		line-height: 134.69%;
		margin-top: 50px;
		font-weight: 500;
	}
}
.privacy-page .section-1 {
	padding: 100px 60px;
	min-height: calc(100vh - 300px);

	.title {
		margin-bottom: 24px;
	}
	.desc b {
		display: block;
		font-weight: 600;
    	font-size: 20px;
		margin: 30px 0 10px;
	}
	ul {
		list-style-type: disc;
		margin-left: 20px;
	}
}

@media screen and (min-width: 769px) {
	.menu {
		display: none;
	}
}
@media screen and (max-width: 1600px) {
	.pale-baloon {
		left: 0;
		transform: none;
	}
}
@media screen and (max-width: 1300px) {
	.title {
		font-size: 44px;
	}
	.footer .footer-nav .row {
		flex-direction: column;
		flex: 1;
	}
	.footer .footer-nav .row .column + .column {
		margin-top: 10px;
	}
	.footer .hover-link + .hover-link {
		margin-top: 10px;
	}
	.footer .footer-nav {
		flex: 3;
	}
	.header-wrapper .inline-left {
		padding-left: 25px;
	}
	.header-wrapper .inline-right {
		padding-right: 25px;
		flex: 2;
	}
	.home-page .section-1::before,
	.characters-page .section-1::before {
		left: 90px;
		width: 192px;
		height: 254px;
		background-size: contain;
	}
	.header-wrapper .phone,
	.header-langs .header-langs__item,
	.header-nav-wrapper a {
		font-size: 16px;
	}
	.header-nav-wrapper a {
		margin: 0 15px;
	}
	.home-page .section-1 .title span {
		font-size: 64px;
	}
	.purple-baloon {
		width: 125px;
		left: calc(50% - 205px);
		top: 120px;
	}
	.home-page .section-1 {
		padding: 0 25px;

		.title {
			transform: translateY(-50px);
		}
	}
	.home-page .section-1 .inline-right .pink-baloon {
		top: 38%;
		right: -20px;
	}
	.yellow-baloon {
		top: 515px;
		width: 35%;
		left: 20%;
	}
	.home-page .section-1 .hover-link {
		margin-top: 40px;
	}
	.home-page .section-1 .desc {
		margin-top: -20px;
	}
	.pale-baloon {
		width: 305px;
		top: 125px;
		left: -12px;
	}
	.section-2 .list img {
		width: 153px;
	}
	.section-2 {
		margin-top: -195px;
		padding-bottom: 85px;
	}
	.desc {
		font-size: 16px;
	}
	.home-page .section-3 .title {
		font-size: 64px;
		margin-bottom: 10px;
		margin-top: 115px;
	}
	.home-page .section-3 .desc {
		margin-left: 66px;
	}
	.home-page .section-3 {
		margin-top: -25px;
		padding-bottom: 265px;
	}
	.home-page.section-3 .balloon-pink-pale {
		width: 380px;
		top: 20px;
		right: 10px;
	}
	.home-page .section-3 .orange-baloon {
		left: calc(50% - 95px);
		top: 34%;
		max-width: 230px;
	}
	.home-page .section-3 .elsa {
		transform: translateX(-70px) translateY(20px);
	}
	.home-page .section-3 .garland {
		right: 160px;
    	top: 75%;
	}
	.home-page .section-3 .baloonPurpleGradient {
		width: 40%;
		left: -110px;
    	top: 63%;
	}
	.section-4 {
		padding: 160px 60px 70px;


		.item {
			margin: 0 calc(80px / 2) 100px;
			width: calc((100% - 160px) / 2);
			padding-top: calc((100% - 160px) / 2);

			&:first-child,
			&:nth-child(2) {
				left: -8%;
			}
			&:last-child,
			&:nth-child(3) {
				left: 8%;
			}
		}
		.list {
			max-width: 894px;
			width: 100%;
		}
		.title {
			font-size: 30px;
		}
	}
	.price-page .section-wrapper {
		padding-top: 79px;
	}
	.card-list {
		margin-top: 80px;
		padding: 0 22px;
	}
	.price-page .section-1 .section-wrapper:before,
	.reviews-page .section-1 .section-wrapper:before {
		width: 194px;
		height: 257px;
	}
	.card-list__item {
		width: calc(100% / 3 - 20px);
		margin: 0 10px 60px;
		padding-top: 311px;
	}
	.card-list__item .card-list-wrapper {
		padding: 15px 15px 25px;
	}
	.card-list__item .img {
		height: 311px;
	}
	.card-list__item .title {
		font-size: 16px;
		height: 53px;
	}
	.card-list__item .list img {
		width: 15px;
	}
	.card-list__item .list .item-title {
		font-size: 14px;
	}
	.card-list__item .desc {
		font-size: 14px;
		height: 58px;
		margin: 18px auto 0;
	}
	.card-list__item .list {
		min-height: 20px;
		margin-top: 2px;
	}
	.card-list__item .price {
		font-size: 16px;
		margin-top: 16px;
	}
	.character-list__item .title {
		font-size: 16px;
		margin-top: -10px;
	}
	.character-list__item img {
		height: 380px;
	}
	.character-list__item {
		width: calc(100% / 3 - 28px);
		margin: 0 14px 60px;
	}
	.price-page .section-3 {
		padding-bottom: 150px;
	}
	.price-page .decor-2 {
		height: 250px;
		top: 10px;
	}
	.price-page .confetti {
		height: 250px;
	}
	.program-page .section-1 .title {
		font-size: 30px;
	}
	.program-page .section-1 .top .conditions {
		margin: 20px 0 10px;
	}
	.program-page .section-1 .top .conditions .item img {
		height: 36px;
		margin-right: 12px;
	}
	.program-page .section-1 .top .conditions .item .item-desc {
		font-size: 16px;
	}
	.program-page .section-1 .desc {
		font-size: 16px;
		line-height: 128.69%;
	}
	.program-page .section-1 .inline-right {
		padding-left: 8%;
	}
	.program-page .section-1 .cta {
		margin-top: 20px;
	}
	.program-page .section-1 .cta .blue-button,
	.program-page .section-1 .cta .price {
		margin-top: 20px;
	}
	.program-page .section-1 .cta .price {
		font-size: 30px;
	}
	.program-page .section-1 .down {
		margin-top: 80px;
	}
	.program-page .section-1 .down .inline-right .desc {
		margin-top: 35px;
	}
	.program-page .section-1 .down .inline-right .cap {
		width: 80px;
		top: -40px;
		right: 40px;
		left: auto;
	}
	.program-page .section-1 .down .inline-right .title {
		display: block;
	}
	.program-page .section-1 .down .inline-left .baloon-small {
		width: 120px;
	}
	.program-page .section-1 .inline-left .notice {
		margin-top: 40px;
	}
	.program-page .section-1 {
		padding: 80px 32px 80px;
	}
	.section-gallery {
		padding: 0 114px 150px;
	}
	.gallery .slick-arrow {
		left: -82px;
	}
	.gallery .slick-next {
		left: auto;
		right: -82px;
	}
	.middle-section-character > .title {
		margin-bottom: 58px;
		font-size: 30px;
		line-height: 105.3%;
		padding-left: 16px;
	}
	.middle-section-character {
		padding-bottom: 150px;
	}
	.middle-section-addition {
		padding: 0 0 90px;
	}
	.middle-section-addition > .title {
		font-size: 30px;
		line-height: 105.3%;
	}
	.program-page .section-1 .up .decor1 {
		top: -100px;
	}
	.gallery-modal .gallery-modal-wrapper {
		width: calc(100% - 250px);
	}
	.gallery-modal .slick-arrow {
		left: 35px;
	}
	.gallery-modal .slick-next {
		left: auto;
		right: 35px;
	}
	.reviews-page .section-1 {
		padding: 80px 69px 150px 32px;
	}
	.reviews-page .section-1 .section-wrapper > .title .baloons3 {
		width: 220px;
		right: -330px;
		top: -40px;
	}
	.reviews-page .section-1 .confetti {
		top: 14px;
	}
	.reviews-page .section-1 .section-wrapper > .title .cap {
		width: 80px;
		left: -43px;
		top: -74px;
	}
	.reviews-page .section-1 .section-wrapper:before {
		left: 92px;
		width: 146px;
		height: 192px;
	}
	.reviews-page .list {
		margin-top: 80px;
	}
	.reviews-page .list .item .avatar {
		width: 110px;
	}
	.reviews-page .list .item .text {
		width: calc(100% - 110px);
		padding-left: 62px;
	}
	.reviews-page .section-1 .text .name {
		font-size: 18px;
		line-height: 134.69%;
	}
	.reviews-page .section-1 .text .date {
		font-size: 16px;
		line-height: 128.69%;
	}
	.reviews-page .section-1 .text .desc {
		font-size: 16px;
		line-height: 128.69%;
	}
	.reviews-page .section-1 .text .desc::before { 
		left: -42px;
		width: 25px;
		height: 22px;
	}
	.reviews-page .section-1 .text .desc::after {
		right: -42px;
		width: 25px;
		height: 22px;
	}
	.reviews-page .list .item .item-gallery {
		margin-top: 40px;
	}
	.reviews-page .list .item .item-gallery .img-container {
		width: 164px;
		height: 164px;
	}
	.reviews-page .list .item + .item {
		margin-top: 70px;
	}
	.partnership-page .section-1 {
		padding: 80px 60px 0;
	}
	.partnership-page .section-1 .section-wrapper > .title.small {
		margin-top: 80px;
		font-size: 30px;
		line-height: 105.3%;
	}
	.partnership-page .section-1 .desc {
		margin-top: 30px;
		font-size: 16px;
		line-height: 128.69%;
	}
	.partnership-page .partnership-section-2 .inline-right .title {
		font-size: 30px;
	}
	.partnership-page .partnership-section-2 .inline-right .list {
		margin-top: 30px;
		font-size: 16px;
		line-height: 128.69%;
	}
	.partnership-page .partnership-section-2 {
		padding-bottom: 60px;
	}
	.partnership-page .partnership-last-section .inline-left .title {
		font-size: 30px;
		line-height: 105.3%;
	}
	.partnership-page .partnership-last-section .inline-left .img {
		width: 400px;
	}
	.partnership-page .partnership-last-section {
		padding-bottom: 150px;
	}
	.partnership-page .section-1 .section-wrapper > .title .baloon {
		top: -140px;
	}
	.card-list + .blue-button-stroke {
		margin-bottom: 0;
	}
	.character-list + .blue-button-stroke {
		margin-top: 20px;
	}
	.privacy-page .section-1 {
		padding: 60px 32px;
	}
}

@media screen and (max-width: 900px) {
	.header-wrapper {
		.inline-right {
			padding-right: 16px;
		}
		.inline-left {
			padding-left: 16px;
			flex: 0;
		}
		.phone, 
		 .header-nav-wrapper a {
			margin: 0 2%;
		}
	}
	.header-nav {
		flex: 4;
	}
	.card-list__item .img {
		height: 245px;
	}
	.card-list__item {
		padding-top: 245px;
	}
	.price-page .section-1 .section-wrapper:before,
	.reviews-page .section-1 .section-wrapper:before {
		width: 145px;
		height: 193px;
	}
	.price-page .decor-2 {
		top: -45px;
	}
	.price-page .confetti {
		height: 150px;
		width: calc(120% - 52px);
	}
	.price-page .section-wrapper {
		padding-top: 30px;
	}
	.card-list {
		margin-top: 30px;
	}
	.program-page .section-1 {
		padding-top: 40px;
	}
	.program-page .section-1 .inline-right {
		padding-left: 5%;
	}
	.program-page .section-1 .cta .price {
		margin-right: 12%;
	}
	.blue-button {
		min-width: 175px;
	}
	.section-gallery {
		padding: 0 98px 150px;
	}
	.middle-section-character > .title {
		margin-bottom: 20px;
	}
	.program-page .section-1 .up .decor1 {
		top: 70px;
		width: 40%;
		right: 10%;
		left: auto;
	}
	.program-page .section-1 .up .inline-right {
		position: static;
	}
	.program-page .section-1 .up .baloon {
		width: 38%;
		position: absolute;
		left: 60%;
		top: 39%;
	}
	.program-page .section-1 .inline-left .program-includes .scenario {
		width: 100%;
		margin-right: 0;
	}
	.characters-page {
		padding-top: 50px;
		overflow: hidden;
		position: relative;
	}
	.characters-page .hero-img {
		width: 103%;
	}
	.reviews-page .section-1 .section-wrapper > .title .baloons3 {
		right: -250px;
		top: -60px;
	}
	.reviews-page .section-1 .confetti {
		width: 120%;
		top: 30px;
	}
	.partnership-page .section-1 .section-wrapper > .title.small {
		font-size: 18px;
		line-height: 134.69%;
	}
	.partnership-page .section-1 .icon {
		width: 128px;
	}
	.partnership-page .section-1 {
		padding-bottom: 40px;
	}

	.page-not-found {
		
		.img-404 {
			max-width: 505px;
		}
	}

}


@media screen and (max-width: 768px) {
	.mob {
		display: block;
	}
	.footer .footer-nav {
		flex: 5;
	}
	.header-nav {
		opacity: 0;
		visibility: hidden;
	}
	.header .socials {
		display: none;
	}
	.menu-link {
		padding-right: 16px;
		display: table;
		position: absolute;
		right: 8px;
		top: 20px;
		z-index: 11;

		&.active .menu-link-img div {

			&:first-child {
				transform: rotate(45deg);
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:last-child {
				transform: rotate(-45deg);
				margin-top: -13px;
			}
		}
	}
	.menu-link-img {
		display: table-cell;
		justify-content: center;
		align-items: center;
		width: 50px;
		height: 50px;
		vertical-align: middle;

		div {
			margin: 0 auto;
			display: block;
			height: 2px;
			width: 35px;
			border-radius: 50px;
			transition: .3s ease;
			background: linear-gradient(273.9deg, #701FFF 3.16%, #9C1FFF 96.78%);
		}
		div + div {
			margin-top: 9px;
		}
	}
	.header-wrapper .inline-left {
		padding-left: 24px;
	}
	.header-langs .header-langs__item {
		font-size: 20px;
	}
	.home-page .section-1::before,
	.characters-page .section-1::before {
		left: 120px;
	}
	.middle-img {
		left: 57%;
	}
	.home-page .section-1 .inline-right .img {
		left: -68px;
		top: -245px;
	}
	.home-page .section-1 .inline-left {
		top: -60px;
	}
	.home-page .section-1 .title span {
		margin-top: 7px;

	}
	.purple-baloon {
		width: 115px;
		left: calc(50% - 105px);
		top: 100px;
		z-index: 2;
	}
	.yellow-baloon {
		top: 425px;
		left: 30%;
	}
	.pale-baloon {
		width: 245px;
		top: 85px;
		left: 0;
	}
	.home-page .section-1 .inline-right .pink-baloon {
		right: -45px;
		width: 40%;
		top: 36%;
	}
	.section-2 .list img {
		width: 130px;
	}
	.section-2 .list .item {
		padding: 0 15px;
	}
	.section-2 {
		margin-top: -145px;
	}
	.home-page .section-3 {
		margin-top: 20px;
	}
	.home-page .section-3 .desc {
		margin-left: 0;
		max-width: 308px;
		text-align: left;
		margin: 0 0 0 auto;
		transform: translateX(-24px);

	}
	.home-page .section-3 .inline-right {
		text-align: right;
	}
	.home-page .section-3 .title {
		transform: translateX(-40px);
	}
	.home-page .section-3 .elsa {
		transform: translateX(-24px) translateY(60px);
	}
	.home-page .section-3 .garland {
		right: 100px;
	}
	.home-page .section-3 .baloonPurpleGradient {
		width: 40%;
		left: -60px;
	}
	.section-4 .item {
		margin: 0 calc(60px / 2) 80px;
		width: calc((100% - 120px) / 2);
		padding-top: calc((100% - 120px) / 2);
	}
	.section-4 {
		padding: 80px 28px 70px;
	}
	.section-4 .item:first-child, 
	.section-4 .item:nth-child(2) {
		left: -5%;
	}
	.section-4 .item:last-child, 
	.section-4 .item:nth-child(3) {
		left: 5%;
	}
	.footer .hover-link {
		font-size: 16px;
	}
	.footer .footer-wrapper {
		padding: 30px;
	}
	.confetti {
		width: 150%;
		left: 50%;
		transform: translateX(-50%);
	}
	.home-page .section-3 .title {
		margin-top: 0;
	}
	.home-page .section-3 .balloon-pink-pale {
		width: 350px;
		top: -100px;
		right: -90px;
	}
	.home-page .section-3 .orange-baloon {
		top: 450px;
		left: calc(50% - 65px);
		max-width: 200px;
	}
	.price-page .decor-2.mob {
		display: none;
	}
	.header-langs {
		justify-content: flex-end;
	}
	.header-wrapper .inline-right {
		padding-right: 93px;
	}
	.header-nav-wrapper {
		height: 89px;
	}
	.menu-wrapper {
		padding: 42px 42px 26px;
		height: 100%;
		display: flex;
		flex-direction: column;
	}
	.menu {
		.menu-nav {

			.hover-link:first-child {
				margin-bottom: 40px;
			}
			.hover-link + .hover-link {
				margin-top: 25px;
			}
		}
		.socials {
			display: flex;
			align-items: flex-end;
			margin-top: 16px;
		}
	}

	.menu .hover-link {
		display: table;
		font-size: 20px;
	}
}

@media screen and (max-width: 700px) {
	.section-4 .item:first-child, 
	.section-4 .item:nth-child(2),
	.section-4 .item:last-child, 
	.section-4 .item:nth-child(3) {
		left: 0;
	}
	.section-4 .item {
		width: 100%;
		margin: 0;
		padding-top: 100%;
	}
	.section-4 .item {
		margin-top: 42px;
	}
	.logo {
		width: 69px;
	}
	.section-1::before {
		display: none;
	}
	.characters-page .section-1::before {
		display: block;
		width: 145px;
		height: 191px;
		z-index: -1;
	}
	.home-page .section-1 .inline-left,
	.home-page .section-1 .inline-right {
		width: 100%;
		top: 0;
	}
	.middle-img {
		top: 330px;
		width: 46%;
		left: 34%;
	}
	.home-page {
		padding-top: 117px;
	}
	.home-page .section-1 .title {
		transform: none;
		text-align: center;
		font-size: 40px;

		span {
			font-size: 54px;
			display: block;
		}
	}
	.home-page .section-1 .inline-right .img {
		top: 0;
		width: 136%;
		left: 10%;
	}
	.home-page .section-1 .desc {
		text-align: center;
		margin-top: 30px;
	}
	.section-1 .hover-link {
		margin: 30px auto 0;
	}
	.header-wrapper .inline-left {
		padding-left: 16px;
	}
	.mobile-menu-container {
		padding-right: 8px;
	}
	.purple-baloon {
		width: 125px;
		left: auto;
		right: 0;
		top: 250px;
		transform: none;
	}
	.home-page .section-1 {
		z-index: 2;
	}
	.pale-baloon {
		width: 255px;
		top: 55px;
		left: calc(50% - 80px);
		transform: translateX(-50%);
	}
	.footer .footer-wrapper {
		display: block;
	}
	.section-2 {
		margin-top: 100px;
		padding-bottom: 50px;
	}
	.home-page .section-1 .inline-right .pink-baloon {
		left: -45px;
		width: 40%;
		top: -140px;
	}
	.confetti {
		width: 250%;
	}
	.yellow-baloon {
		top: 16%;
		left: 15%;
		width: 55%;
	}
	.confetti.mob {
		display: block;
	}
	.confetti.mob {
		top: 440px;
		z-index: 3;
	}
	.section-2 .list {
		flex-direction: column;
	}
	.section-2 .list .item + .item {
		margin-top: 40px;
	}
	.section-2 .list img {
		width: 160px;
	}
	.section-3 .inline-left, 
	.section-3 .inline-right {
		width: 100%;
	}
	.home-page .section-3 .balloon-pink-pale {
		top: 300px;
	}
	.home-page .section-3 .pirate {
		width: 133%;
	}
	.home-page .section-3 .balloon-pink-pale {
		top: 26%;
		width: 67%;
		right: -60px;
	}
	.home-page .section-3 .title {
		font-size: 54px;
		margin-top: -220px;
		text-align: left;
		transform: none;
		padding-left: 40px;
	}
	.home-page .section-3 .desc {
		transform: none;
		margin: 0;
		padding-left: 80px;
		max-width: calc(100% - 24px);
		margin-top: -15px;
	}
	.home-page .section-3 .elsa {
		transform: translateX(0) translateY(50px);
		width: calc(100% - 32px);
	}
	.home-page .section-3 .orange-baloon {
		top: 58%;
		max-width: 190px;
		left: calc(50% - 120px);
	}
	.home-page .section-3 .garland {
		right: -65px;
		top: 88%;
		width: 124%;
	}
	.home-page .section-3 .baloonPurpleGradient {
		width: 63%;
		top: 76.7%;
		left: -100px;
	}
	.section-4 {
		margin-top: 0;
		padding-bottom: 120px;
	}
	.footer .footer-nav {
		flex-direction: column;
	}
	.footer .logo {
		width: 77px;
	}
	.footer .footer-wrapper {
		padding: 50px 20px;
	}
	.footer .footer-nav {
		margin-top: 15px;
	}
	.footer .socials {
		margin-top: 18px;
	}
	.footer .footer-nav .row {
		margin-top: 30px;
	}
	.footer {
		position: relative;
	}
	.footer .up-link {
		position: absolute;
		top: 50px;
		right: 15px;
	}
	.footer .up-link .desc {
		margin-top: 5px;
		font-size: 16px;
	}
	.menu {
		max-width: 100%;
		overflow: auto;
	}
	.pale-blob {
		width: 417px;
		top: 675px;
		left: calc(50% - 60px);
	}
	.menu-link {
		padding-right: 0;
	}
	
	.card-list__item {
		padding-top: 212px;
		width: calc(100% / 2 - 14px);
		margin: 0 7px 50px;

		.img {
			height: 212px;
		}
	}
	.card-list {
		padding: 0 9px;
	}
	.price-page .section-3 {
		padding-bottom: 120px;
	}
	.price-page .decor-2 {
		width: 100%;
		top: 0;
	}
	.price-page .section-wrapper > .title {
		min-height: 100px;
	}
	.price-page .section-1 .hover-link {
		margin-top: 10px;
	}
	.price-page .section-2 {
		margin-top: 110px;
	}
	.character-list__item {
		width: calc(100% / 2 - 14px);
		margin: 0 7px 45px;

		&:nth-child(4n) {
			transform: translateX(calc(-100% - 14px));
		}
		&:nth-child(4n + 3) {
			transform: translateX(calc(100% + 14px));
		}
		img {
			height: 270px;
		}
		.title {
			margin-top: -10px;
		}
		
	}
	.price-page .section-wrapper {
		padding-top: 20px;
	}
	.price-page .section-wrapper > .title {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.card-list {
		margin-top: 36px;
	}
	.price-page .section-wrapper {
		overflow: hidden;
	}
	.price-page .decor-2 {
		height: 170px;
	}
	.page-wrapper {
		padding-top: 89px;
	}
	.price-page .confetti {
		width: calc(150% - 52px);
	}
	.program-page .section-1 .up .decor1 {
		top: 80px;
		width: 80%;
		right: 10%;
	}
	.program-page .section-1 .inline-left {
		width: 100%;
		padding-right: 0;
	}
	.program-page .section-1 .inline-right {
		width: 100%;
		padding-left: 0;
	}
	.program-page .section-1 {
		padding: 60px 16px 100px;
	}
	.program-page .section-1 .top {
		.title {
			display: none;
		}
		.conditions {
			display: none;
		}
	}
	.program-page .section-1 .top-mob {
		display: block;

		.title {
			display: block;
			text-align: center;
		}
		.conditions {
			display: block;
			margin: 20px 0 16px;
			text-align: center;
		}
	}
	.program-page .section-1 .top .conditions .item .item-desc {
		font-size: 14px;
	}
	.program-page .section-1 .desc {
		margin-top: 30px;
	}
	.program-page .section-1 .cta {
		display: none;
	}
	.program-page .section-1 .cta-mob {
		display: block;
		text-align: center;
		margin-top: 40px;
		position: relative;

		.baloon {
			width: 320px;
			position: absolute;
			left: 30%;
			top: -80px;
		}
	}
	.program-page .section-1 .down {
		margin-top: 60px;
	}
	.program-page .section-1 .inline-left .program-includes .item .desc {
		margin-top: 0;
	}
	.program-page .section-1 .inline-left .notice {
		text-align: center;
		margin-top: 50px;
	}
	.program-page .section-1 .down .inline-right .title {
		margin-top: 60px;
	}
	.section-gallery {
		padding: 0 6px 230px;
	}
	.gallery-modal {
		padding: 16px;
	}
	.gallery-modal .gallery-modal-wrapper .img {
		position: static;
		height: auto;
		max-height: calc(100vh - 160px);
		transform: none;
	}
	.gallery .slick-arrow {
		left: calc(50% - 72px);
		top: calc(100% + 70px);
	}
	.gallery .slick-next {
		left: auto;
		right: calc(50% - 72px);
	}
	.gallery-modal {
		.gallery-modal-wrapper {
			height: auto;
			width: 100%;
			max-height: calc(100vh - 160px);
		}
		.slick-arrow {
			position: relative;
			transform: none;
			top: 0;
			left: 0;
			margin: 0 16px;
		}
		.slick-buttons {
			margin-top: 30px;
		}
	}
	.middle-section-character > .title {
		text-align: center;
		padding: 0;
		margin-bottom: 60px;
	}
	.middle-section-character .character-list__item:nth-child(3) {
		display: none;
	}
	.middle-section-character {
		padding-bottom: 120px;
	}
	.middle-section-addition > .title {
		padding: 0;
		text-align: center;
		margin-bottom: 60px;
	}
	.characters-page .section-character .character-list {
		margin-top: 0;
	}
	.characters-page .hero-img {
		display: none;
	}
	.characters-page .hero-img-mob {
		display: block;
	}
	.characters-page .confetti {
		width: 300%;
	}
	.characters-page .section-character .baloons {
		display: none;
	}
	.characters-page .section-character .mob-baloons {
		display: block;
	}
	.characters-page .section-character {
		margin-top: 30px;
	}
	.banner {
		width: 116%;
		position: relative;
		left: -8%;
	}
	.reviews-page .section-1 {
		padding: 60px 16px 120px;
	}
	.reviews-page .section-1 .section-wrapper:before {
		left: 27px;
	}
	.reviews-page .section-1 .section-wrapper > .title {
		font-size: 40px;
	}
	.reviews-page .section-1 .section-wrapper > .title .cap {
		width: 60px;
		left: -30px;
		top: -51px;
	}
	.reviews-page .section-1 .section-wrapper > .title .baloons3 {
		right: -160px;
		top: -60px;
		width: 170px;
	}
	.reviews-page .section-1 .confetti {
		width: 150%;
	}
	.reviews-page .list {
		margin-top: 60px;
	}
	.reviews-page .list .item .text {
		width: 100%;
		text-align: center;
		padding: 0 42px;
	}
	.reviews-page .section-1 .text .name {
		margin-top: 25px;
	}
	.reviews-page .list .item .item-gallery .img-container {
		width: calc(50% - 6px);
		height: calc((50vw - 16px) - 6px);
		margin: 0 3px 3px;
	}
	.partnership-page .section-1 {
		padding-bottom: 20px;
	}
	.partnership-page .partnership-section-2 .inline-left {
		padding: 0;
		width: 100%;
	}
	.partnership-page .partnership-section-2 .inline-right {
		padding: 40px 18px 0;
		width: 100%;
	}
	.partnership-page .partnership-section-2 .inline-right .title {
		text-align: center;
	}
	.partnership-page .partnership-section-2 .inline-right .list {
		margin-top: 40px;
	}
	.partnership-page .partnership-section-2 .inline-right .list .item {
		font-size: 16px;
	}
	.partnership-page .partnership-last-section {
		padding: 0 16px 120px;
		display: flex;
		flex-direction: column-reverse;
	}
	.partnership-page .partnership-last-section .inline-left {
		padding: 0;
		width: 100%;
		text-align: center;
		margin-top: 40px;
	}
	.partnership-page .partnership-last-section .inline-right {
		padding: 0;
		width: 100%;
	}
	.partnership-page .partnership-last-section .inline-left .img {
		right: -30px;
		top: -110px;
		width: 300px;
	}
	.partnership-page .section-1 .section-wrapper > .title .baloon {
		top: -120px;
		left: -100px;
    	width: 400px;
	}
	.partnership-page .section-1 .section-wrapper > .title {
		font-size: 30px;
		word-break: break-word;
	}
	.partnership-page .section-1 .section-wrapper > .title.small {
		margin-top: 60px;
	}
	.page-not-found {
		
		.img-404 {
			max-width: 392px;
		}
		.title {
			font-size: 40px;
		}
		.title.small {
			font-size: 18px;
		}
		.desc {
			font-size: 16px;
		}
		.blue-button-stroke {
			display: none;
		}
		.blue-button {
			width: 100%;
			max-width: 320px;
		}
	}
	.privacy-page .section-1 .title {
		font-size: 30px;
	}
}


@media screen and (max-width: 450px) {
	
	.confetti {
		width: 500%;
		left: 18%;
	}
	.confetti.mob {
		top: 460px;
	}
	.pale-baloon {
		width: 285px;
		top: 35px;
		left: calc(50% - 10px);
	}
	.section-1 {
		padding: 0 16px;
	}
	.price-page .section-1 {
		padding: 0;
	}
	.section-1 .hover-link {
		width: 100%;
	}
	.section-1 .inline-right .img {
		width: 144%;
		left: 2%;
	}
	.middle-img {
		top: 330px;
		width: 53%;
		left: 28%;
	}
	.section-1 .inline-left {
		margin-bottom: 20px;
	}
	.header-wrapper .inline-right {
		position: absolute;
		top: 31px;
		left: calc(50% + 5px);
		transform: translateX(-50%);
		padding: 0;
	}
	.purple-baloon {
		width: 85px;
		left: calc(50% - 20px);
		right: 80px;
		top: 440px;
		z-index: 3;
		transform: translateX(-50%);
	}
	.yellow-baloon {
		top: 17%;
	}
	.header-nav {
		display: none;
	}
	.yellow-baloon {
		left: 20%;
		width: 59%;
		top: 16.7%;
	}
	.home-page .section-1 .inline-right .pink-baloon {
		left: 72%;
		width: 40%;
		top: 78%;
	}
	.pale-blob {
		width: 247px;
		top: 665px;
		left: calc(50% - 70px);
	}
	.home-page .section-2 .list img {
		width: 130px;
	}
	.home-page .section-3 .pirate {
		width: 145%;
		transform: translateX(-30%);
	}
	.home-page .section-3 .title {
		padding-left: 16px;
		margin-top: -230px;
	}
	.home-page .section-3 .balloon-pink-pale {
		width: 97%;
		right: -85px;
	}
	.home-page .section-3 .desc {
		padding-left: 16px;
    	max-width: calc(100% - 16px);
	}
	.home-page .section-3 .orange-baloon {
		top: 60.2%;
		max-width: 140px;
		left: calc(50% - 90px);
	}
	.home-page .section-3 .elsa {
		transform: translateX(-16px) translateY(80px);
		width: calc(100% - 32px);
	}
	.home-page .section-3 .confettiRibbon {
		width: 70%;
		left: -5%;
	}
	.home-page .section-3 .garland {
		right: -20px;
		top: 87%;
		width: 114%;
	}
	.home-page .section-3 .baloonPurpleGradient {
		width: 60%;
		top: 74.5%;
		left: -55px;
	}
	.home-page .section-4 {
		margin-top: 0;
		padding: 0 16px 120px;
	}
	.price-page .confetti {
		width: calc(250% - 52px);
	}
	.price-page .section-wrapper > .title {
		font-size: 40px;
	}
	.card-list__item {
		width: 100%;
		margin: 0 0 50px;
		padding-top: 230px;

		.img {
			height: 230px;
		}
	}
	.card-list__item .price {
		font-size: 18px;
	}
	.card-list__item .title {
		font-size: 18px;
		height: 58px;
	}	
	.character-list__item {
		width: 100%;
		margin: 0 0 40px;
		transform: none !important;
	}
	.character-list__item img {
		max-height: 360px;
		height: 100%;
	}

	.card-list {
		padding: 0 16px;
	}
	.price-page {
		
		.decor-2 {
			display: none;
			top: 30px;

			&.mob {
				display: block;
			}
		}
		.mob-baloons {
			display: block;
		}
		.baloons {
			display: none;
		}
	}
	.program-page .section-1 .cta .price {
		margin-right: 0;
	}
	.program-page .section-1 .down .inline-right .cap {
		right: 0;
	}
	.program-page .section-1 .up .decor1 {
		top: 90px;
	}
	.modal .modal-wrapper .title {
		font-size: 30px;
	}
	.modal .modal-wrapper .close {
		top: 18px;
		right: 16px;
	}
	.modal .modal-wrapper {
		padding: 60px 16px 40px;
	}
	.modal .modal-wrapper label .input {
		line-height: 55px;
		height: 55px;
		font-size: 14px;
	}
	.modal .modal-wrapper textarea {
		font-size: 14px;
		height: 90px;
	}
	.modal .modal-wrapper .placeholder {
		font-size: 14px;
	}
	.modal .modal-wrapper .form .blue-button,
	.modal .modal-wrapper .thank-you .blue-button {
		width: 100%;
	}
	.modal .modal-wrapper .thank-you {
		padding: 40px 16px 65px;
	}
	.modal .modal-wrapper .thank-you .title {
		font-size: 30px;
	}
	.modal .modal-wrapper:before {
		background-image: url('../../src/assets/singleProgramPage/form-decor-mob.svg');
	}
	.header-wrapper {
		height: 89px;
	}
	.characters-page .section-1::before {
		display: none;
	}
	.characters-page .section-1 {
		padding: 0;
	}
	.middle-section-character .character-list__item:nth-child(3) {
		display: block;
	}
	.reviews-page .section-1 .confetti {
		width: 200%;
		left: 10%;
	}
	.reviews-page .section-1 .section-wrapper > .title .baloons3 {
		right: -60px;
	}
}