<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta name="description" content="Barnebursdagog underholdning, Детские аниматоры Норвегия, Kids Birthday Party and entertainment">
    <meta name="keywords" content="Barnebursdagog underholdning, Детские аниматоры Норвегия, Kids Birthday Party and entertainment">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css' rel='stylesheet' />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Arimo&family=Oswald:wght@400;500&display=swap" rel="stylesheet">
    <title>Festarrangor</title>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JS9KL24F3V"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-JS9KL24F3V');
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but Festarrangor doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <script crossorigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?features=Object.assign%2CObject.entries"></script>
  </body>
</html>
